/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

body {
  margin: 1em;
}

/*  Background Wallpapers */

#home {
  background-image: url('../Images/chess2.jpg');

  /* background-image: url('https://cdn.pixabay.com/photo/2015/10/11/12/48/chess-982260__340.jpg'); */

  /* background-image: url('../Images/YarnWallpaper.jpg'); */

  /* background-image: url('https://c1.staticflickr.com/5/4221/34997833906_218d223980_b.jpg'); */
  background-size: cover;
}

.outer-container {
  background-color: red;
}

.ui.grid > .row {
  height: 50vh;
  line-height: 30vh;
  padding: 0 !important;
  color: black;
}

.text {
  color: white;
  z-index: -1;
}

a.text {
  color: aqua;
}

.top-left {
  font-size: 3rem;
  overflow: auto;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.6;
  margin-top: 10vh;
  max-height: 30vh;
  z-index: -1;
}

.bottom-left {
  font-size: 1.7rem;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.6;
  margin-top: 5vh;
  max-height: 30vh;
}

.top-right {
  font-size: 1.7rem;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.6;
  margin-top: 10vh;
  max-height: 30vh;
}

.bottom-right {
  font-size: 1.3rem;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.6;
  margin-top: 5vh;
  max-height: 30vh;
  overflow: auto;
}

/*   LOGIN PAGE */

.login-background {

  /* background-image: url('../Images/OldWallpaper.jpg'); */
  background-image: url('https://c1.staticflickr.com/5/4221/34997833906_218d223980_b.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#login-form {
  padding-top: 34vh;
}

#login-form-body,
#register-form-body {
  background-color: rgb(92, 49, 63);
  opacity: 0.95;
}

#login-button {
  background-color: rgb(200, 169, 146);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

#email-label,
#password-label {
  color: rgb(174, 192, 193);
}

#password,
#email,
#firstName,
#lastName,
#confirmPassword,
#rating,
#handedness {
  background-color: rgb(203, 100, 96);
}

/*  Registration Page */

.register-background {
  background-image: url('../Images/puzzle.jpg');

  /* background-image: url('../Images/OldWallpaper.jpg'); */
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#register-form {
  padding-top: 20vh;
}

#register-button {
  background-color: rgb(200, 169, 146);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

#lastName-label,
#firstName-label,
#password-label,
#confirmPassword-label,
#email-label {
  color: rgb(174, 192, 193);
}

#register-header {
  color: rgb(243, 223, 185);
  font-size: 3em;
  font-weight: bold;
  background-color: tan;
  opacity: 0.95;
  border-style: solid;
  border-color: rgb(92, 49, 63);
  border-radius: 3px;
}

/* NavBar  */

#navbar {
  margin-top: 35vh;
  width: 100%;

  /* margin-left: 3vw; */
}

#roster-background {
  background-image: url('../Images/hats.jpg');
  background-size: cover;
  height: 110vh;
}

#nav-column {
  padding: 0;
}

.navlink {
  font-size: 16px;
  color: rgb(117, 135, 147);
  background-color: rgb(56, 65, 93);
}

.navlink.top,
.navlink.middle,
.navlink.bottom {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  color: rgb(117, 135, 147);
  background-color: rgb(56, 65, 93);
}

.navlink:hover {
  background-color: rgb(72, 85, 115);
  color: lightblue;
}

* {
  font-family: 'Merienda', cursive;
}

/*   New Player Page */

#cancel-button {
  background-color: rgb(179, 201, 218);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

#create-new-player-button {
  background-color: rgb(69, 108, 170);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

/*  Wager Page */

#wager-background {
  background-image: url('../Images/Bingo2.jpg');
  background-size: cover;
}

#draw-button {
  background-color: rgb(200, 169, 146);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

#reset-button {
  background-color: rgb(69, 108, 170);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

#wager-column {
  margin-top: 30vh;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.ui.dropdown .menu > .item,
.ui.dropdown .menu {
  color: black !important;
  background-color: red;
}

#rules {
}
